---
author: Hristo Genev
culture: bg-BG
locator-strategy: jsonpath
date-format: unix

request:
  debug: true
  url: http://moviestar.bg/?rhc_action=get_calendar_events&post_type[]=events&start=${date}&end=${date.addDays(1).format(unix)}&rhc_shrink=0&view=agendaDay
  cache-priority: 3
  encoding: utf-8
  headers: 
    referer: http://moviestar.bg
  
programs:
  ordered: false
  locator: $.EVENTS[?(@.fc_rdate =~ /${date.format(yyyyMMdd)}/)]
  
elements:
  - name: title
    locator: title

  - name: start
    locator: fc_rdate
    time-format: yyyyMMddTHHmm
    debug: false
    operations: 
    - name: regex-extract
      hook: after
      arguments: 
        - .*?(${date.format(yyyyMMdd)}T\d\d\d\d)

  - name: desc
    ignore-previous-parsing: true
    locator: description
    operations: 
      - name: beautify
        hook: after

  - name: icon
    locator: image[0]

  - name: detailsUrl
    locator: url
  
program-details:
  enabled: false
  request:
    url: ${detailsUrl}

  elements:
  - name: desc
    locator: .fe-extrainfo-value