author: Hristo Genev
culture: bg-BG
date-format: yyyyMMdd

request:
  url: https://${host}/${channel}/${date}

programs:
  locator: li[data-datetime-date='${date.format(yyyy-MM-dd)}']

elements:
  - name: title
    locator: h3
    type: directinnertext
    operations: 
      - name: beautify
        hook: after

  - name: start
    locator: h5

  - name: desc
    locator: p

channel-parameters:
  fox.bg:
    host: www.foxtv.bg/schedule
    channel: fox

  foxlife.bg:
    host: www.foxtv.bg/schedule
    channel: foxlife
    
  foxcrime.bg:
    host: www.foxtv.bg/schedule
    channel: foxcrime

  natgeo.bg:
    host: www.natgeotv.com/bg/schedule
    channel: natgeo
  
  natgeowild.bg:
    host: www.natgeotv.com/bg/schedule
    channel: nationalgeographicwild

  24kitchen.bg:
    host: www.24kitchen.bg
    channel: tvprogram